version: '3.8'
services:
  app:
    build: .
    ports:
      - "8081:8080"
    depends_on:
      - db
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 27017

  db:
    image: mongo:latest
    ports:
      - "27017:27017"

